.navbar {
	background: #01853a;
	margin-left: 10dp;
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus
	{
	background-color: #033c1c;
	color: #FFFFFF;
	margin-left: 10dp;
}

.btn-primary {
	background: #01853a;
	border-color: #033c1c;
	color: #FFFFFF;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary
	{
	background-color: #a4c842;
	border-color: #033c1c;
	color: #FFFFFF;
}

textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus
	{
	border-color: rgba(126, 255, 104, 1.0);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
		rgba(126, 239, 104, 0.6);
	outline: 0 none;
}
